<h1 class="mt-5">Stupid Coaching</h1>
<p>Ask your coach anything:</p>

<form class="w-50 d-flex" action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="aQuestion">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
